{
  "extends": [
    "@touchbistro/eslint-config"
  ],

  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "@typescript-eslint/no-standalone-expect": "off"
  }
}